header {
    background-color: #232f3e;
    padding: 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 100;
    color: white
  }

  &_logo {
    display: flex;
    align-items: center;
    color: #ff9f00;
    margin: 0 25px;
  }

  &_logo_Name{
    font-size: large;
    font-weight: bold;
    color: white;
  }

  &_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    margin: 0%;
    input{
        width: 100%;
        padding: 10px;
        border: 0;
    }
  }

  &_search_Icon{
    background-color: #ff9f00;
    padding: 8px;
    color: black;
  }
  &_nav{
    display: flex;
    justify-content: space-evenly;
    margin: 0 25px;
    &_itemList{
        display: flex;
        align-items: center;
        color: white;
    }
    &_lineOne{
        font-size: 10px;
        font-weight: normal;
    }
    &_lineTwo{
        font-size: 14px;
    }
    &_user{
        display: flex;
        align-items: center;
        color: white;
        margin-right: 20px;
        flex-direction: column;
    }
  }
  

  